.app.dark {
  --bg-color: #212529;
  --inverted-bg-color: #ADB5BD;

  --primary-color: #198754;
  --secondary-color: #051B11;
  --inverted-primary-color: #0D6EFD;
  --inverted-secondary-color: #031633;
}