.app_dark_theme {
  --bg-primary-color: #191919;
  --bg-secondary-color: #202020;
  --inverted-bg-color: #fff;
  --primary-color: #adb5bd;
  --secondary-color: #051b11;
  --inverted-primary-color: #0d6efd;
  --inverted-secondary-color: #031633;
}
