:root {
  --bg-primary-color: #fff;
  --bg-secondary-color: #f8f8f8;
  --inverted-bg-color: #191919;
  --primary-color: #212529;
  --secondary-color: #031633;
  --inverted-primary-color: #198754;
  --inverted-secondary-color: #051b11;
}
