.app.light {
  --bg-primary-color: #f1f1f1;
  --bg-secondary-color: #c7cacc;
  --inverted-bg-color: #212529;

  --primary-color: #0D6EFD;
  --secondary-color: #031633;
  --inverted-primary-color: #198754;
  --inverted-secondary-color: #051B11;
}