.app.light {
  --bg-primary-color: #ffffff;
  --bg-secondary-color: #FBFBFA;
  --inverted-bg-color: #212529;

  --primary-color: #002050;
  --secondary-color: #031633;
  --inverted-primary-color: #198754;
  --inverted-secondary-color: #051B11;
}